*{
    box-sizing: border-box;
}
body, html{
    /*height: 100%;*/
    width: 100%;
    margin: 0;
    padding: 1em;
}
.alert-info{
    border: solid 1px lightgray;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.alert-info a{
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 1em;
    width: 100%;
}
h1{
    text-align: center;
}
.nav-links{
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav-links li{
    background-color: lightgray;
    margin-bottom: 1em;
}
.nav-links>li>a {
    display: block;
    width: 100%;
    line-height: 3em;
}
.header-img{

}
.header-img>img{
    content:url("https://via.placeholder.com/330x224");
    width: 100%;
}
.main{
    margin-bottom: 2em;
}
.main>h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}
.main p{
    margin-top: .5em;
}

.sub-section{
    font-style: italic;
    margin-bottom: 2em;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
footer>p{
    margin-bottom: 0;
    font-size: small;
}

#social-media-links{
    align-self: flex-end;
    background-color: red;
    width: 65px;
    height: 65px;
}