*{
    box-sizing: border-box;
}
body, html{
    /*height: 100%;*/
    width: 100%;
    margin: 0;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}
.alert-info{
    border: solid 1px lightgray;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.alert-info a{
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 1em;
    width: 100%;
}
h1{
    text-align: center;
}
.nav-links{
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav-links li{
    background-color: lightgray;
    margin-bottom: 1em;
}
.nav-links>li>a {
    display: block;
    width: 100%;
    line-height: 3em;
}
.header-img{

}
.header-img>img{
    content:url("https://via.placeholder.com/330x224");
    width: 100%;
}
.main{
    margin-bottom: 2em;
}
.main>h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}
.main p{
    margin-top: .5em;
}

.sub-section{
    font-style: italic;
    margin-bottom: 2em;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
footer>p{
    margin-bottom: 0;
    font-size: small;
}

#social-media-links{
    align-self: flex-end;
    background-color: red;
    width: 65px;
    height: 65px;
}
@media screen and (min-width:768px) {
    .hidden-on-desktop {
        display: none;
    }
    h1 {
        display: inline-block;
        width: 49%;
        text-align: left;
        font-size: 3em;
        font-weight: bold;
    }
    nav {
        display: inline-block;
        width: 49%;
    }
    .nav-links{
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    .nav-links li{
        background-color: white;
    }
    .nav-links>li>a {
        display: inline-block;
        padding: 1em;
        font-size: 1.25em;
    }
    .header-img>img{
        content:url("https://via.placeholder.com/890x385");
        width: 100%;
    }
    .main {
        display: inline-block;
        width: 59%;

    }
    .main>h2{
        display: flex;
        align-items: baseline;
        margin-bottom: 1em;
    }
    .main>p{
        margin-bottom: 1em;
        display: flex;
        align-items: baseline;
    }
    .sub-section {
        display: inline-block;
        width: 39%;
    }
    .sub-section>h2{
        display: flex;
        margin-bottom: 1.5em;
        align-items: baseline;
    }
    .sub-section>p{
        display: flex;
        align-items: baseline;
    }
}